# paths to ignore
/docs
/**/db
/**/incremental_db
/**/output_files
/**/simulation
/**/greybox_tmp
/**/other_assets
/**/RemoteSystemsTempFiles


# extensions to ignore
*.bak
*.rpt
*.tcl~
*.a
*.d
*.o
*.objdump
*.map
*.force_relink